@using MaerskApplication.Models.ViewModel
@model ShippingViewModel
@{
    ViewBag.Title = "Add Agent";
}

<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    });
</script>

<h2>Add Agent</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("AddShipping", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Departure Date", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control" , @id= "datepicker" })
                        @Html.ValidationMessageFor(m => m.DateFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Departure Location", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Source, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Source, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Arrival Date", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control", @id = "datepicker2" })
                        @Html.ValidationMessageFor(m => m.DateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Arrival Location", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Destination, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Destination, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Available Slots", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.AvailableSlots, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AvailableSlots, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="color:red">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        @ViewBag.Message
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add Shipping" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}